<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href="../css/main.css">

    </head>
    <body>
         <form class = "search_type" action ="" method = "get">
            <input name = "s" placeholder="Search" type = "search" style = "padding-left: 30px;">
            <button type = "submit"></button>
         </form>
         <div class = "zoom">
             <a href = "vitamins.html">
                <img src = "../img/vit-test.png">
            </a>
         </div> 
    </body>
</html>